.gallery {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.gallery--item {
  margin: 8px;
}

.gallery--item--title {
  font-size: 12pt;
  margin: 5px 0 5px 0;
}

.gallery--item--artist {
  font-size: 12pt;
  margin: 0 0 10px 0;
  font-weight: normal;
}
